body {
    background-color: black;
}

h1 {
    font-family
    font-size: 20px;
    
    text-align:center;
}

p {
    font-family: monospace;
    font-size: 20px;
    color:lightblue;
    text-align: center;
}